# Zadanie 1

In [1]:
import pandas as pd
import datetime

In [2]:
Data = pd.read_csv("zadanie1.csv") #rozwiazanie zadania 1.1

In [3]:
Data

         imie    nazwisko data_urodzenia
0     Jadwiga     Bilecka     01.01.1978
1       Rafal       Bobek     11.04.1978
2      Robert  Bobekowski     20.07.1978
3       Rafal  Bobikowski     28.10.1978
4       Rafal      Brobek      5.02.1979
..        ...         ...            ...
103    Robert       Zamek     15.03.2006
104    Wiktor     Zamlcki     23.06.2006
105   Tadeusz    Zomornik      1.10.2006
106    Edward  Zeligowski      9.01.2007
107  Zbigniew  Zeligowski     19.04.2007

[108 rows x 3 columns]

In [4]:
Data.dtypes

imie              object
nazwisko          object
data_urodzenia    object
dtype: object

In [5]:
Data['data_urodzenia'] =  pd.to_datetime(Data['data_urodzenia'])

In [6]:
Data.dtypes

imie                      object
nazwisko                  object
data_urodzenia    datetime64[ns]
dtype: object

In [7]:
Data[(Data['data_urodzenia'] > '1999-12-31')]  #rozwiazanie zadania 1.2

         imie    nazwisko data_urodzenia
81   Krystyna   Polkowiak     2000-06-03
82     Wiktor     Proszak     2000-06-14
83    Andrzej       Robek     2000-09-22
84   Zbigniew       Rudak     2000-12-31
85    Barbara    Sadurski     2001-10-04
86      Marek       Sawek     2001-07-19
87     Robert       Sulik     2001-10-27
88   Zbigniew       Sulik     2002-04-02
89     Robert  Sulikowski     2002-05-15
90     Robert       Surma     2002-08-23
91     Robert      Surmak     2002-01-12
92     Wiktor      Suwald     2003-11-03
93     Michal      Szerka     2003-06-19
94    Tadeusz      Tomora     2003-09-27
95   Zbigniew    Trewirek     2004-05-01
96   Zbigniew  Twardzioch     2004-04-14
97    Andrzej  Twarnowski     2004-07-23
98    Tadeusz    Twomicki     2004-10-31
99     Michal      Wertyk     2005-08-02
100     Rafal       Wobek     2005-05-19
101   Tadeusz       Womor     2005-08-27
102    Robert      Wyszon     2005-05-12
103    Robert       Zamek     2006-03-15
104    Wiktor     Zamlcki     2006-06-23
105   Tadeusz    Zomornik     2006-01-10
106    Edward  Zeligowski     2007-09-01
107  Zbigniew  Zeligowski     2007-04-19

In [8]:
Data['imie']

0       Jadwiga
1         Rafal
2        Robert
3         Rafal
4         Rafal
         ...
103      Robert
104      Wiktor
105     Tadeusz
106      Edward
107    Zbigniew
Name: imie, Length: 108, dtype: object

In [9]:
a = Data['imie'].str.endswith('a')

In [10]:
a = a.index[a].tolist()

In [11]:
Women_names = Data.loc[a]

In [12]:
Women_nodupli = Women_names.drop_duplicates(subset='imie', inplace=False)

In [13]:
Women_nodupli['imie'].tolist() #rozwiazanie zadania 1.3

['Jadwiga',
 'Liliana',
 'Katarzyna',
 'Barbara',
 'Kalina',
 'Jolanta',
 'Pelagia',
 'Ewa',
 'Krystyna',
 'Elwira']

# Task 2

In [14]:
import flickrapi
import urllib
from PIL import Image
import sqlite3
from sqlite3 import Error
import imageio

In [15]:
def picture_to_arr(image):
    colour_list = []
    arr = image
    arr_list=arr.tolist()
    r=g=b=0
    for row in arr_list:
        for item in row:
            r=r+item[0]
            g=g+item[1]
            b=b+item[2]  
    total=r+g+b
    red=r/total*100
    green=g/total*100
    blue=b/total*100
    colour_list.append(red)
    colour_list.append(green)
    colour_list.append(blue)
    print ("the percentage of red content=",red,"%")
    print ("the percentage of green content=",green,"%")
    print ("the percentage of blue content=",blue,"%")
    
    return colour_list

In [19]:
def Flickr_download(keyword,images_number=100):
    
    #if keyword = null
    # Flickr api access key 
    flickr=flickrapi.FlickrAPI('c6a2c45591d4973ff525042472446ca2', '202ffe6f387ce29b', cache=True)
    
    photos = flickr.walk(text=keyword,
                         tag_mode='all',
                         tags=keyword,
                         extras='url_c',
                         per_page=100,           
                         sort='relevance')
    
    urls = []
    for i, photo in enumerate(photos):
        print (i)
        
        url = photo.get('url_c')
        urls.append(url)
        
        # get exact amount of images
        if i > images_number:
            break
    
    print (urls)
    
    # Download image from the url and save it to '00001.jpg'
    path =r"C:\\Users\\sticz\\Desktop\\ABC\\Images\\"
    for i in range(0,images_number):
        urllib.request.urlretrieve(urls[i], path + str(i) + '.jpg')

In [22]:
Flickr_download("husky",5) #bez podania bedzie sciagac 100 obrazow

0
1
2
3
4
5
6
['https://live.staticflickr.com/6013/5942755659_747b0ef148_c.jpg', 'https://live.staticflickr.com/5322/9112767612_732ee43469_c.jpg', 'https://live.staticflickr.com/4329/36174951912_1d81f55647_c.jpg', 'https://live.staticflickr.com/1955/31869657858_52b0849d65_c.jpg', 'https://live.staticflickr.com/8378/8522024777_69eb8a7e21_c.jpg', 'https://live.staticflickr.com/4067/5169411258_01a64d80ba_c.jpg', None]

In [ ]:
import os
import glob
import numpy as np
import sqlite3
import cv2

PATH_IMAGES = r"C:\\Users\\sticz\\Desktop\\ABC\\Images\\"
 
#--- Extract files from folder following pattern
files   = glob.glob(PATH_IMAGES+ "*.jpg")
n_files = len(files)
print('Number of files in folder: ', n_files)
 
#--- Simple database creator
def create_db(filename):
    db = sqlite3.connect(filename)
    cursor = db.cursor()
    cursor.execute("DROP TABLE IF EXISTS Images")
    cursor.execute("CREATE TABLE Images(ObjId INT, img BLOB, size INT)")
    db.commit()
    db.close()
 
filename_db = 'testdb_0.db'
create_db(filename_db)
 
#--- Open database and loop over files to insert in database
con = sqlite3.connect(filename_db)
cur = con.cursor()
for i, file_i in enumerate(files):
 
    #--- Read image as a binary blob
    with open(file_i, 'rb') as f:
        image_bytes = f.read()
        
    f.close()
    #--- Decode raw bytes to get image size
    nparr  = np.fromstring(image_bytes, np.uint8)
    img_np = cv2.imdecode(nparr, cv2.IMREAD_COLOR)
    image_size = img_np.shape[1]
 
    #--- Extract file name without extension
    filename = os.path.relpath(file_i, PATH_IMAGES)
    objid = int(os.path.splitext(filename)[0])
 
     #--- Insert image and data into table
    cur.execute("insert into Images VALUES(?,?,?)", (objid,sqlite3.Binary(image_bytes),image_size)   )
    con.commit()
 
    #--- Cheap progress
    if ((i % 100) == 0):
        print(i, n_files)
 
cur.close()
con.close()

In [ ]:
con = sqlite3.connect(filename_db)
cur = con.cursor()
row = cur.execute("SELECT ObjId, img from Images")
Kitku_list = []
RBG_list = []

for ObjId, item in row:
 #--- Decode blob
    nparr  = np.fromstring(item, np.uint8)
    img_np = cv2.imdecode(nparr, cv2.IMREAD_COLOR)
    RBG_list.append(picture_to_arr(img_np))
    RGB_df = pd.DataFrame(RBG_list)
    Most_red_index = RGB_df[0].idxmax()
    Kitku_list.append(img_np)
    print("/n")

cur.close()
con.close()

In [ ]:
Most_red_index

In [ ]:
cv2.imshow('Most red image',Kitku_list[Most_red_index])  #Pokazanie najbardziej czerwonego obrazu
k = cv2.waitKey(0)
if k == 27:         # wait for ESC key to exit
       cv2.destroyAllWindows()